.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 50px;

  }
  
  .logo {
    height: 10%;
    width: 20%;
  }

  .copyright {
    font-size: 0.5em;
  }
  
  .contact-info {
    text-align: right; 
    font-size: .8em;
    color: #115993;
  }
  
  a:link, a:visited {
    color: #2896b2;
  }